:root {
    --color-gris: gray;
    --color-Negro: black;
    --color-Naranja: rgb(255, 166, 0);
    --color-Azul: rgba(110, 142, 210, 0.873);
    --color-blanco: white;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    font-family: 'Krub', sans-serif;
}

h1.titulo span {
    font-size: 2.4rem;
    color: gray;
}

.titulo span {
    font-size: 1.2rem;
    color: gray;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--color-Azul);
}

.navegacion-principal {

    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--color-blanco);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--color-Naranja);
    color: var(--color-Negro);
}

body {
    background-color: var(--color-blanco);
    font-size: 2rem;
}

.hero {
    background-image: url(../img/Celeste.png);
    background-repeat: no-repeat;
    background-size: cover;
}