:root {
    --color-gris: gray;
    --color-Negro: black;
    --color-Naranja: rgb(255, 166, 0);
    --color-Azul: rgba(110, 142, 210, 0.873);
    --color-blanco: white;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

h1.titulo span {
    font-size: 2.4rem;
    color: gray;
}

.titulo span {
    font-size: 1.2rem;
    color: gray;
}